.Project-item {
    background: #fff;
    box-shadow: 0 1px 2px #999;
    font-family: sans-serif;
    height: 30px;
    line-height: 30px;
    list-style: none;
    margin: 10px 0;
    padding: 20px 10px;
    text-align: center;
    transform: translateZ(0);
    transition: box-shadow 0.25s ease-in;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    &__delete {
        float: right;
        font-size: 25px;
    }
}